<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Новый клиент</title>
</head>
<body>
    <h2>Новый клиент!</h2>
    <p>Пожалуйста, свяжитесь с ним по следующим данным:</p>
    <ul>
        <li><strong>ФИО:</strong> {{ subscriber.full_name }}</li>
        {% if subscriber.company_name %}
        <li><strong>Название компании:</strong> {{ subscriber.company_name }}</li>
        {% endif %}
        {% if subscriber.phone_number %}
        <li><strong>Телефон:</strong> {{ subscriber.phone_number }}</li>
        {% endif %}
        <li><strong>Email:</strong> {{ subscriber.email }}</li>
    </ul>
</body>
</html>
