:root {
    /* Global CSS variables */
    --primary-color: #686b99;
    --text-color: #2c2c2c;
    --text-color-light: #e9e9e9;
    --highlight-color: #a6ff6b;
    --navbar-width: 90%;
    --max-width: 1300px; /* Updated max-width */
}

@font-face {
    font-family: "Unbounded"; 
    src: url("../fonts/Unbounded.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "Muller";
    src: url("../fonts/Muller.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input, textarea {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

input, textarea {
    resize: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: #686b99;
}

html {
    -ms-overflow-style: none;
}


header {
    height: 730px;
    background-image: url('/static/img/banner.png') !important;
    background-size: cover;
    position: relative;
}


/* Navbar */
.navbar {
    width: var(--navbar-width);
    max-width: var(--max-width);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.left-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: var(--text-color);
}

.left-info a {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    color: inherit;
    padding: 5px 10px;
    line-height: 17px;
    color: #050505;
    font-family: "Muller";
}

.left-info a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-in-out;
}

.right-info {
    font-size: 23px;
    line-height: 29px;
    color: #66659e;
    font-weight: 500;
    font-family: "Muller";
}

.tava-collection {
    margin: 0 20px;
}

.tava-collection h1 {
    text-align: center;
}

main h1{
    margin: 40px 0 30px 0;
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 30px;
    text-transform: uppercase;
    color: #171717;
    font-weight: 600;
    font-family: "Unbounded";
    text-align: center;
}

.more {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переноситься на новую строку */
    gap: 20px; /* Отступы между карточками */
    justify-content: center; /* Выравнивание карточек по левому краю */
    max-width: 1540px; /* Устанавливает максимальную ширину контейнера */
    width: 100%; /* Контейнер занимает всю доступную ширину */
    margin: 0 auto; /* Центрирование контейнера */
}


.card {
    flex: 1 1 240px; /* Гибкий размер карточки: занимает минимум 240px */
    max-width: 240px; /* Максимальная ширина карточки */
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.card img {
    max-width: 240px;
    aspect-ratio: 240/340;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 520px) {
    .card {
        flex: 1 1 45%; /* Изменение размера карточек при уменьшении экрана */
        max-width: 45%; /* Максимальная ширина карточки при уменьшении экрана */
    }
}


.card span {
    text-align: end;
}

.all-collections {
    position: relative;
    width: 265px;
    height: 66px;
    color: #585858;
    border: 3.8px solid #a0ff2b;
    background: transparent;
    display: flex; /* Используйте flexbox */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание по центру */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.all-collections span {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 18px;
    text-transform: uppercase;
    color: #171717;
    font-weight: 600;
    font-family: "Unbounded";
    text-align: center;
    cursor: pointer;
}


.all-collections:hover {
    background-color: #a0ff2b31;;
}

.card h2 {
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #000000;
    font-family: "Muller";
}

.more {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #969696;
    font-family: "Muller";
    margin: 10px 0;
}

.container-info {
    min-height: 1078px;
    background-color: #686b99;
    display: flex;
    justify-content: center;

}

.container-info-content {
    max-width: 1130px;
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    gap: 60px; /* Расстояние между элементами */
    align-items: center;
    padding: 70px 0;
    justify-content: center;

}

.text-info {
    max-width: 336px;
}

.text-info h3 {
    font-size: 27px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Unbounded";
    margin: 30px 0;
}

.text-info p {
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    font-family: "Muller";
}

.container-love-winter {
    height: 708px;
    background-image: url('/static/img/bg-bottom-main.png');
    background-repeat: no-repeat;
    background-position: center; /* Центрирование изображения */
    position: relative;
    display: flex;
    justify-content: center;
}


.container-love-winter img {
    position: relative;
    margin-top: -70px;
    max-height: 780px;
}

.text-block {
    max-width: 520px;
    text-align: center;
}

.text-block h2 {
    font-size: 68px;
    line-height: 69px;
    text-transform: uppercase;
    color: #686b99;
    font-weight: 700;
    font-family: "Unbounded";
    text-align: center;
    margin-top: 160px;
}

.text-p {
    font-size: 31px;
    line-height: 31px;
    color: #2f2f2f;
    font-weight: 700;
    font-family: "Unbounded";
    text-align: center;
}

.text-block-header {
    display: none;
    position: relative;
}

footer {
    background-color: #686b99;
    height: auto;
    padding: 90px 0;
    color: #e9e9e9;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    font-family: Arial, sans-serif;
}

.footer-logo {
    grid-column: 1 / 2;
    text-align: left;
}

.footer-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.footer-info {
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Muller";
}

.footer-links {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.footer-column p {
    margin: 30px 0;
}

.footer-title-p,
.footer-title {
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Unbounded";
    padding-bottom: 28px;
}

.footer-links a {
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Muller";
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-address {
    grid-column: 3 / 4;
    font-size: 17px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Muller";
    text-align: right;
    margin-top: 70px;
}

.footer-address a.phone {
    display: block;
    margin-top: 40px;
    font-size: 23px;
    line-height: 29px;
    color: #a0ff2b;
    font-weight: 500;
    font-family: "Muller";
}

.footer-address a.phone:hover {
    text-decoration: underline;
}

.footer-policies {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    text-align: center;
    font-size: 12px;
    margin-top: 50px;
    font-family: "Muller";
}

.footer-policies a {
    margin: 0 15px;
    color: #e9e9e9;
}

.footer-policies a:hover {
    text-decoration: underline;
}

footer p, a {
    font-size: 18px;
}

.footer-address svg {
    fill: #a0ff2b;
    height: 20px;
    aspect-ratio: 1;
    margin-right: 8px;
}

.footer-address .phone {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1116px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-logo,
    .footer-links,
    .footer-address {
        grid-column: 1 / 2;
        text-align: center;
    }

    .footer-address {
        margin-top: 20px;
    }

    .footer-policies {
        margin-top: 20px;
    }

    .footer-logo img {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        padding: 0 20px;
    }

    .footer-address {
        margin-top: 10px;
    }

    .footer-policies a {
        margin: 0 5px;
    }
}

@media (max-width: 576px) {
    .footer-container {
        padding: 0 10px;
    }

    .footer-policies {
        font-size: 10px;
    }
}

/* Скрываем боковое меню по умолчанию */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 20px;
}

/* Показываем боковое меню */
.side-menu.menu-open {
    left: 0;
}

/* Стили для крестика закрытия */
.close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu svg, .close-menu svg {
    width: 24px;
    height: 24px;
}

@media (max-width: 420px) {
    .text-block-header h1, .text-block-header p {
        text-align: center !important;
    }
}

@media (max-width: 755px) {
    .left-nav, .between-nav {
        display: none;
    }

    .div-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        margin-bottom: 40px;
        margin-top: -20px;
    }

    .div-side img {
        height: 30px;
    }

    .nav-links {
        margin: 0;
        margin-bottom: 10px;
    }

    .burger-menu {
        display: block;
        width: 40px; /* Убедитесь, что контейнер имеет достаточную ширину */
        height: 40px; /* Убедитесь, что контейнер имеет достаточную высоту */
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .side-menu-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .side-menu-links a {
        font-size: 24px;
        text-decoration: none;
        color: black;
    }

    .navbar {
        padding: 20px 15px;
        display: flex;
        align-items: center; /* добавлено для центрирования элементов */
    }
}



@media (max-width: 1180px) {
    .container-love-winter img {
        display: none;
    }

    .container-love-winter h2 {
        font-size: clamp(40px, 5vw + 1rem, 68px);
        line-height: clamp(40px, 4vw + 1rem, 69px);
    }

    .text-p {
        font-size: clamp(18px, 5vw + 1rem, 31px);
        line-height: clamp(18px, 4vw + 1rem, 31px);
    }

    header {
        height: 730px;
        background-image: url('/static/img/about2.png') !important;
        background-size: cover;
        position: relative;
    }

    .text-block-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        text-align: start;
        padding: 0 20px;
    }

    .text-block-header h1 {
        font-size: clamp(16px, 2vw + 1rem, 40px); /* Минимальный размер 24px, максимальный 40px */
        line-height: clamp(30px, 2vw + 1rem, 40px);
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #171717;
        font-weight: 900;
        font-family: "Unbounded";
        max-width: 480px;
        margin-bottom: 30px;
    }

    .text-block-header p {
        font-size: clamp(8px, 0,5vw + 1rem, 20px); /* Минимальный размер 14px, максимальный 20px */
        line-height: clamp(8px, 1vw + 1rem, 30px);
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #171717;
        font-weight: 400;
        font-family: "Unbounded";
        max-width: 480px;
    }

    main, footer {
        position: relative;
        top: -130px;
    }
}
