@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Unbounded-Regular";
    src: url("../fonts/Unbounded-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/Muller.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button, input, textarea {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

input, textarea {
    resize: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}