{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'email_app/about_brand.css' %}">
    <link rel="stylesheet" href="{% static 'email_app/styles.css' %}">
    <title>О бренде | TAVA</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="left-nav" id="leftNav">
                <a href="{% url 'about_brand' %}" class="nav-links" style="text-decoration: underline;">О бренде</a>
                <a href="{% url 'catalog' %}" class="nav-links">Каталог</a>
                <a href="{% url 'opt' %}" class="nav-links">Оптовикам</a>
            </div>
            <div class="between-nav">
                <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt="TAVA"></a>
            </div>
            <div class="right-nav">
                <p>+7 (900) 451-00-06</p>
            </div>
            <div class="burger-menu" id="burgerMenu">
                <!-- Бургер-иконка -->
                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512">
                    <path d="M0,3.5c0-.83,.67-1.5,1.5-1.5H17.5c.83,0,1.5,.67,1.5,1.5s-.67,1.5-1.5,1.5H1.5c-.83,0-1.5-.67-1.5-1.5Zm17.5,14.5H1.5c-.83,0-1.5,.67-1.5,1.5s.67,1.5,1.5,1.5H17.5c.83,0,1.5-.67,1.5-1.5s-.67-1.5-1.5-1.5Zm5-8H6.5c-.83,0-1.5,.67-1.5,1.5s.67,1.5,1.5,1.5H22.5c.83,0,1.5-.67,1.5-1.5s-.67-1.5-1.5-1.5Z"/>
                </svg>
            </div>
        </div>
        <!-- Боковое меню -->
        <div class="side-menu" id="sideMenu">
            <div class="div-side">
                <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt="TAVA"></a>
                <div class="close-menu" id="closeMenu">
                    <!-- Крестик для закрытия меню -->
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="512" height="512">
                        <path d="M6.293,4.293a1,1,0,0,1,1.414,0L12,7.586,16.293,3.293a1,1,0,1,1,1.414,1.414L13.414,9,17.707,13.293a1,1,0,0,1-1.414,1.414L12,10.414,7.707,14.707a1,1,0,0,1-1.414-1.414L10.586,9,6.293,4.293Z"/>
                    </svg>
                </div>
            </div>
            <div class="side-menu-links">
                <a href="{% url 'main' %}" class="nav-links">О бренде</a>
                <a href="{% url 'catalog' %}" class="nav-links" style="text-decoration: underline;">Каталог</a>
                <a href="{% url 'opt' %}" class="nav-links">Оптовикам</a>
            </div>
        </div>
    </header>
    <main>
        <div class="first-block">
            <img src="{% static 'img/about (3) (1).png' %}" alt="Блок 4">
            <div class="text-block">
                <h1>TAVA - отечественный
                    производитель
                    одежды из флиса.</h1>
                <p>
                    Одежда из флиса TAVA – уютная и при этом
                    впечатляюще устойчива к холоду.
                    Сверхмягкая ткань растягивается вместе
                    с Вашими движениями, позволяя свободно
                    двигаться во время прогулок, бега или
                    катания на лыжах. Чем больше вы ее
                    используете, тем она становится теплее.
                    Мы производим качественные и теплые
                    флисовые костюмы для людей, которые
                    ценят комфорт, стиль и качество. </p>
            </div>
        </div>
        <div class="second-block">
            <img src="{% static 'img/about (5) (1).png' %}" alt="Блок 4">
            <p>Для взрослых, стремящихся
                к активному образу жизни
                и ищущих надежную и комфортную
                одежду для походов, путешествий или
                просто для повседневной носки.</p>
        </div>
        <div class="third-block">
            <p>Для взрослых, стремящихся
                к активному образу жизни
                и ищущих надежную и комфортную
                одежду для походов, путешествий или
                просто для повседневной носки.</p>
            <img src="{% static 'img/about (1) (1).png' %}" alt="Блок 4">
        </div>
        <div class="fourth-block">
            <img src="{% static 'img/about (4) (1).png' %}" alt="Блок 4">
            <p>Для взрослых, стремящихся
                к активному образу жизни
                и ищущих надежную и комфортную
                одежду для походов, путешествий или
                просто для повседневной носки.</p>
        </div>
        <div class="fifth-block">
            <div class="fifth-block-content">
                <!-- Новый блок-обертка для центрирования изображения и текста -->
                <div class="centered-content">
                    <img src="{% static 'img/tava-logo.png' %}" alt="tava">
                    <p>Наши флисовые костюмы - это сочетание тепла и комфорта,
                        созданное для всей семьи. <br>
                        Наша продукция - это не просто одежда, это забота о каждом члене
                        вашей семьи, обеспечивающая тепло в любую погоду.
                        Используя инновационные технологии и лучшие материалы,
                        мы создаем костюмы, которые не только согревают,
                        но и подчёркивают индивидуальность. <br><br>

                        Выбирая одежду TAVA - Вы выбираете качество,
                        стиль и уют, произведенные в России.
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{% static 'img/logo-footer.png' %}" alt="Logo">
                <div class="footer-info">
                    <p>ИП Михайлов<br>Илья Владимирович<br>318213000017900</p>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <p class="footer-title">Разделы</p>
                    <p><a href="{% url 'about_brand' %}">О бренде</a></p>
                    <p><a href="{% url 'catalog' %}">Каталог</a></p>
                </div>
                <div class="footer-column">
                    <p class="footer-title-p">&nbsp;</p>
                    <p><a href="{% url 'opt' %}">Оптовикам</a></p>
                    <p><a href="">Контакты</a></p>
                </div>
            </div>
            <div class="footer-address">
                <p>Адрес производства:<br>Чувашская Республика<br>г. Чебоксары, Эгерский бульвар 48</p>
                <p class="footer-address">
                    <a href="tel:+79004510006" class="phone">
                        <span>+7 (900) 451-00-06</span>
                    </a>
                </p>
            </div>
            <div class="footer-policies">
                <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
                <a href="{% url 'user_agreement' %}">Пользовательское соглашение</a>
                <a href="{% url 'personal_data' %}">Согласие на обработку персональных данных</a>
            </div>
        </div>
    </footer>
    <script src="{% static 'email_app/side.js' %}"></script>

</body>
</html>