{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'email_app/main.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="left-info">
                <a href="{% url 'main' %}"><img src="{% static 'img/42.png' %}" alt="TAVA"></a>
                <a href="{% url 'main' %}" style="text-decoration: underline;">О бренде</a>
                <a href="{% url 'catalog' %}">Каталог</a>
                <a href="{% url 'opt' %}">Оптовикам</a>
                <a href="{% url 'catalog' %}">Контакты</a>
            </div>
            <div class="right-info">+7 (900) 451-00-06</div>
        </div>
    </header>
    <main>
        <h1>коллекция<br>тава кидс</h1>
        <div class="container">
            <div class="card">
                <a href=""><img src="{% static 'img/content1.png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/content2.png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/content3.png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/content4.png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/content5.png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/content6.png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
        </div>
        <button type="button" class="all-collections">
            <span>все коллекции</span>
        </button>
        <!--  -->
        <h1>коллекция<br>тава кидс</h1>
        <div class="container">
            <div class="card">
                <a href=""><img src="{% static 'img/elements (1).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (13).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (9).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (8).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (12).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (1).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
        </div>
        <button type="button" class="all-collections">
            <span>все коллекции</span>
        </button>
        <!--  -->
        <h1>коллекция<br>тава кидс</h1>
        <div class="container">
            <div class="card">
                <a href=""><img src="{% static 'img/elements (1).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (10).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (5).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (4).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (3).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
            <div class="card">
                <a href=""><img src="{% static 'img/elements (1).png' %}" alt=""></a>
                <div class="more">
                    <a href="" style="text-decoration: underline;">Подробнее...</a>
                    <span>Рост 128-170</span>
                </div>
                <h2>Кофта флисовая на замке</h2>
            </div>
        </div>
        <button type="button" class="all-collections">
            <span>все коллекции</span>
        </button>
        <div class="container-info">
            <div class="container-info-content">
                <div class="text-info">
                    <img src="{% static 'img/element (1).png' %}" alt="">
                    <h3>ГИПО-АЛЛЕРГЕННОСТЬ</h3>
                    <p>Материал полностью 
                        гипоаллергенен, поэтому 
                        подходит всем – малышам 
                        и взрослым.
                        воздухопроницаемостью, 
                        влагоотталкивающими 
                        свойствами и отлично 
                        сохраняют тепло.
                    </p>
                </div>
                <div class="text-info">
                    <img src="{% static 'img/element (2).png' %}" alt="">
                    <h3>АНТИ-
                        БАКТЕРИАЛЬНОСТЬ</h3>
                    <p>Флис является максимально 
                        неблагоприятной средой 
                        для размножения пылевых 
                        клещей, грибка, плесени 
                        и других микроорганизмов. 
                        В нем не заводится моль.
                    </p>
                </div>
                <div class="text-info">
                    <img src="{% static 'img/element (3).png' %}" alt="">
                    <h3>ВОЗДУХО-
                        ПРОНИЦАЕМОСТЬ</h3>
                    <p>Структура ткани 
                        со множеством воздушных 
                        карманов, позволяет коже 
                        дышать.
                    </p>
                </div>
                <div class="text-info">
                    <img src="{% static 'img/element (4).png' %}" alt="">
                    <h3>ИЗНОСО-
                        СТОЙКОСТЬ</h3>
                    <p>При соблюдении правил 
                        ухода флис способен 
                        служить долго, не теряя 
                        своих свойств.
                    </p>
                </div>
                <div class="text-info">
                    <img src="{% static 'img/element (5).png' %}" alt="">
                    <h3>ЭЛАСТИЧНОСТЬ</h3>
                    <p>Одежда из флиса не сковывает 
                        движения, при этом, хорошо 
                        облегает и сохраняет форму. 
                        Не дает усадку и 
                        не растягивается.
                    </p>
                </div>
                <div class="text-info">
                    <img src="{% static 'img/element (6).png' %}" alt="">
                    <h3>ТЕРМО-
                        РЕГУЛЯЦИЯ</h3>
                    <p>Способность поддерживать 
                        комфортную для тела 
                        температуру, во флисовых 
                        изделиях невозможно 
                        вспотеть или замерзнуть.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-love-winter">
            <img src="{% static 'img/girl.png' %}" alt="девочка">
            <div class="text-block">
                <h2>вы <br> полюбите <br> зиму!</h2>
                <p>Холодная погода 
                    ещё не повод 
                    оставаться дома. 
                    Если Вы в одежде TAVA.</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="{% static 'img/logo-footer.png' %}" alt="Logo">
                <div class="footer-info">
                    <p>ИП Михайлов<br>Илья Владимирович<br>318213000017900</p>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <p class="footer-title">Разделы</p>
                    <p><a href="#">О бренде</a></p>
                    <p><a href="#">Каталог</a></p>
                </div>
                <div class="footer-column">
                    <p class="footer-title-p">&nbsp;</p> 
                    <p><a href="#">Оптовикам</a></p>
                    <p><a href="#">Контакты</a></p>
                </div>
            </div>
            <div class="footer-address">
                <p>Адрес производства:<br>Чувашская Республика<br>г. Чебоксары, Эгерский бульвар 48</p>
                <p class="footer-address">
                    <a href="tel:+79004510006" class="phone">
                        <span>+7 (900) 451-00-06</span>
                    </a>
                </p>
            </div>
            <div class="footer-policies">
                <a href="{% url 'privacy_policy' %}">Политика конфиденциальности</a>
                <a href="{% url 'user_agreement' %}">Пользовательское соглашение</a>
                <a href="{% url 'personal_data' %}">Согласие на обработку персональных данных</a>
            </div>
        </div>
    </footer>
</body>
</html>