ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ<br><br>

Российская Федерация, г. Чебоксары<br><br>

Настоящая Политика конфиденциальности персональных данных (далее - Политика конфиденциальности) действует в отношении всей информации, размещенной на настоящем Сайте, расположенном в сети Интернет по адресу: https://tavakids.site/ (далее - Сайт), которую лицо, индивидуальный предприниматель Михайлов Илья Владимирович (ИНН 211903079622, ОГРНИП 318213000017900) (далее - Компания) может получить о вас во время использования Сайта, его сервисов, программ и продуктов.<br><br>

Использование Сайта означает ваше согласие с настоящей Политикой и указанными в ней условиями обработки персональной информации. В случае несогласия с этими условиями вы должны воздержаться от использования Сайта.<br><br>

1. ОБЩИЕ ПОЛОЖЕНИЯ<br><br>

1.1. Для защиты ваших личных данных Компанией внедрен ряд средств защиты, которые действуют при введении, передаче или работе с вашими персональными данными с соблюдением требований, предъявляемых Федеральным законом №152-ФЗ от 27 июля 2006 года «О персональных данных».<br><br>

1.2. В рамках настоящей Политики под вашей персональной информацией понимаются:<br><br>

1.2.1. Персональная информация, которую вы предоставили о себе самостоятельно при использовании предоставляемых сайтом Сервисов (отправление заявок и т.п.).<br><br>

1.2.2. Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на вашем устройстве программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере (или иной программе, с помощью которой осуществляется доступ к сервисам), технические характеристики оборудования и программного обеспечения, дата и время доступа к сервисам, адреса запрашиваемых страниц и иная подобная информация.<br><br>

1.3. Вы даете Компании согласие на обработку следующих персональных данных:<br><br>

1.3.1. имя, фамилия, отчество (обрабатывается как псевдоним);<br><br>

1.3.2. номера контактных телефонов;<br><br>

1.3.3. адреса электронной почты, иных видов электронной связи (если сообщены пользователем);<br><br>

1.3.4. сведения об интересах;<br><br>

1.3.5. сведения о возрасте (при необходимости);<br><br>

1.3.6. сведения, указанные в пункте 1.1 настоящего Пользовательского соглашения.<br><br>

1.4. В ходе обработки с персональными данными будут совершены следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.<br><br>

1.5. Обработка персональных данных производится в течение 18 (восемнадцати) месяцев с даты их предоставления, если согласие на их обработку не будет отозвано вами ранее.<br><br>

1.6. Согласие на обработку персональных данных Компанией может быть отозвано вами путем направления письменного заявления Компании на электронный адрес tavakids@yandex.ru и/или почтовый адрес (юридический адрес): 429068, Россия, Чувашская Республика – Чувашия, Ядринский р-н, Нижние Сунары, ул. Луговая д. 9.<br><br>

1.7. В случае отзыва вами согласия на обработку персональных данных Компания вправе продолжить обработку персональных данных без согласия Пользователя при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ от 27 июля 2006 года «О персональных данных».<br><br>

1.8. В случае несогласия с «Политикой конфиденциальности», «Пользовательским соглашением», «Согласием на обработку персональных данных» либо одним из перечисленных, вы обязуетесь покинуть Сайт.<br><br>

2. ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ<br><br>

2.1. Сайт собирает и хранит только ту персональную информацию, которая необходима для предоставления вам сервисов Сайта, за исключением случаев, когда законодательством РФ предусмотрена обязательная обработка и хранение персональной информации в течение определенного законом срока.<br><br>

2.2. Персональную информацию Сайт обрабатывает в следующих целях:<br><br>

2.2.1. Предоставления вам доступа к сервисам, предоставляемым Сайтом.<br><br>

2.2.2. Предоставления вам услуг либо иного полезного результата, для заказа которых вы воспользовались сервисами Сайта.<br><br>

2.2.3. Установления с вами обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, обработку ваших запросов и заявок.<br><br>

2.2.4. Определения вашего места нахождения для обеспечения безопасности, предотвращения мошенничества.<br><br>

2.2.5. Подтверждения вами достоверности персональных данных с помощью обратной связи.<br><br>

2.2.6. Уведомления вас о всех изменениях, связанных с порядком использования Сайта.<br><br>

2.2.7. Предоставления вам эффективной клиентской и технической поддержки.<br><br>

2.2.8. Осуществления рекламной деятельности с вашего согласия.<br><br>

3. УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ И ЕЕ ПЕРЕДАЧИ ТРЕТЬИМ ЛИЦАМ<br><br>

3.1. В отношении вашей персональной информации сохраняется ее конфиденциальность.<br><br>

3.2. Ваши личные сведения могут быть разглашены нами только в том случае, если это необходимо для:<br><br>

3.2.1. Обеспечения соответствия предписаниям законодательства РФ или требованиям судебного процесса в отношении Компании;<br><br>

3.2.2. Защиты прав или собственности Компании;<br><br>

3.2.3. Принятия срочных мер по обеспечению личной безопасности наших сотрудников или потребителей предоставляемых им услуг, а также обеспечению общественной безопасности;<br><br>

3.2.4. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры.<br><br>

3.2.5. Вы выразили согласие на такие действия.<br><br>

3.3. Личные сведения, полученные в распоряжение Компании при регистрации, могут передаваться третьим организациям и лицам, состоящим с Компанией в партнерских отношениях для улучшения качества оказываемых услуг. Эти сведения не будут использоваться в каких-либо иных целях, кроме перечисленных выше.<br><br>

3.4. Адрес электронной почты, предоставленный вами при регистрации, может использоваться для отправки вам сообщений или уведомлений об изменениях, связанных с вашей заявкой, а также рассылки сообщений о происходящих в компании событиях и изменениях, важной информации о новых товарах и услугах и т.д. Предусмотрена возможность отказа от подписки на эти почтовые сообщения.<br><br>

3.5. Вы соглашаетесь, что в случае отчуждения Сайта к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации.<br><br>

3.6. При утрате или разглашении персональных данных Компания информирует вас об утрате или разглашении персональных данных.<br><br>

3.7. Компания принимает необходимые организационные и технические меры для защиты персональной информации от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.<br><br>

3.8. Компания принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных.<br><br>

3.9. Персональные данные обрабатываются до момента ликвидации Компании, либо до ликвидации Сайта (в зависимости от того, какое событие наступит позднее). Персональные данные обрабатываются Компанией в порядке, предусмотренном в Политике конфиденциальности.<br><br>

3.10. Передача персональных данных между подразделениями Компании производится с соблюдением принципов конфиденциальности и защиты таких данных.<br><br>

3.11. Участники программы лояльности могут обрабатывать персональные данные в рамках программы в целях предоставления дополнительных услуг.<br><br>

3.12. Обработка персональных данных может включать в себя:<br><br>

3.12.1. Обработку данных для целей мониторинга и анализа сетевого трафика.<br><br>

3.12.2. Обработку данных для формирования статистических отчетов и анализа поведения пользователей.<br><br>

3.12.3. Защиту от злоупотреблений и угроз для безопасности.<br><br>

3.12.4. Управление доступом к системам и данным.<br><br>

3.12.5. Контроль соблюдения установленных требований безопасности.<br><br>

3.12.6. Обеспечение бесперебойной работы сервисов и программ.<br><br>

3.12.7. Аудит и анализ эффективности применяемых мер.<br><br>

3.12.8. Обновление и модернизация системы безопасности.<br><br>

3.12.9. Ведение реестра и учета персональных данных.<br><br>

3.12.10. Проведение регулярных проверок и тестирований.<br><br>

3.12.11. Осуществление защиты данных от потерь и повреждений.<br><br>

3.13. Осуществления антивирусного контроля, предотвращения внедрения в корпоративную сеть вредоносных программ (программ-вирусов) и программных закладок;<br><br>

3.14. Обнаружения вторжений в корпоративную сеть Компании, нарушающих или создающих предпосылки к нарушению установленных требований по обеспечению безопасности персональных данных;<br><br>

3.15. Резервного копирования информации.<br><br>

4. ФАЙЛЫ «COOKIE»<br><br>

4.1. Когда вы посещаете веб-узел, на ваш компьютер записывается файл «cookie» (если вы разрешаете прием таких файлов). Если же вы уже посещали данный веб-узел, файл «cookie» считывается с компьютера. Сбор этих данных осуществляется в обобщенном виде и никогда не соотносится с личными сведениями пользователей.<br><br>

4.2. Третьи стороны, включая компанию Google, используют cookie, чтобы показывать объявления, основанные на предыдущих посещениях пользователем наших вебсайтов и интересах в веб-браузерах. Третьи стороны, включая компании Google, показывают объявления Компании на страницах сайтов в Интернете. Вы можете запретить компаниям Google использовать cookie. Для этого необходимо посетить специальную страницу компании Google по этому адресу: http://www.google.com/privacy/ads/.<br><br>

5. ОБЯЗАТЕЛЬСТВА КОМПАНИИ<br><br>

5.1. Компания обязана:<br><br>

5.1.1. Использовать полученную информацию исключительно для целей, указанных в настоящей Политике конфиденциальности.<br><br>

5.1.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без вашего предварительного письменного разрешения.<br><br>

5.1.3. Принимать меры предосторожности для защиты конфиденциальности ваших персональных данных согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.<br><br>

5.1.4. Осуществить блокирование персональных данных с момента вашего обращения или запроса либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.<br><br>

6. ОТВЕТСТВЕННОСТЬ СТОРОН<br><br>

6.1. Компания несет ответственность за убытки, понесенные вами по вине Компании в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.<br><br>

6.2. В случае утраты или разглашения конфиденциальной информации Компания не несет ответственности, если данная конфиденциальная информация:<br><br>

6.2.1. Сделана вами общедоступной до ее утраты или разглашения;<br><br>

6.2.2. Была получена Компанией от третьей стороны на законных основаниях.<br><br>

6.2.3. Была разглашена с вашего согласия.<br><br>

7. РАЗРЕШЕНИЕ СПОРОВ<br><br>

7.1. Вы можете при возникновении каких-либо вопросов предъявить Компании претензию (письменное предложение о добровольном урегулировании спора).<br><br>

7.2. Компания в течение 15 (пятнадцати) календарных дней со дня получения претензии письменно уведомит вас о результатах рассмотрения претензии.<br><br>

7.3. При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.<br><br>

7.4. К настоящей Политике конфиденциальности и отношениям в связи с ней применяется законодательство Российской Федерации.<br><br>

8. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ<br><br>

8.1. Компания вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя, не ущемляющие ваши права.<br><br>

8.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.<br><br>

8.3. Все предложения или вопросы по настоящей Политике конфиденциальности вы можете сообщить по адресу: tavakids@yandex.ru и/или почтовый адрес (юридический адрес): 429068, Россия, Чувашская Республика – Чувашия, Ядринский р-н, Нижние Сунары, ул. Луговая д. 9.<br><br>

8.4. Политика конфиденциальности Компании является в соответствии с требованиями части 2 статьи 18.1 Федерального закона «О персональных данных» общедоступной и постоянно расположена на Сайте.<br><br>