<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <style>
        body {
            background-color: #fff;
            color: #000;
            font-family: Times New Roman, Times, serif;
            margin: 10px;
        }
        h1 {
            font-size: 36px;
            font-weight: bold;
        }
        p {
            font-size: 18px;
            margin: 15px 0;
        }
    </style>
</head>
<body>
    <h1>Internal Server Error</h1>
    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
    <p>Please contact the server administrator at root@localhost to inform them of the time this error occurred, and the actions you performed just before this error.</p>
    <p>More information about this error may be available in the server error log.</p>
</body>
</html>
