ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ<br><br>

Российская Федерация, город Чебоксары<br><br>

Настоящее Пользовательское соглашение регулирует ваши отношения с владельцем Сайта индивидуальным предпринимателем Михайловым Ильей Владимировичем (ИНН 211903079622, ОГРНИП 318213000017900), расположенного в сети Интернет по адресу: https://tavakids.site/ (далее – Компания).<br><br>

Использование сервисов Сайта означает ваше согласие с настоящим Пользовательским соглашением; в случае несогласия с этими условиями вы должны воздержаться от использования Сайта.<br><br>

1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ<br><br>

1.1. В настоящем Пользовательском соглашении, если из текста прямо не вытекает иное, следующие термины будут иметь указанные ниже значения:<br><br>

«Сайт» Совокупность средств и информации, текстов, графических элементов, дизайна, изображений, фото и видеоматериалов и иных результатов интеллектуальной деятельности, а также программ для ЭВМ, предназначенной для публикации в сети «Интернет» и отображаемой в определенной текстовой, графической или звуковой формах, объединенных под уникальным электронным адресом (доменным именем или IP-адресом), позволяющим идентифицировать его и осуществить доступ к нему. Совокупность информации, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу.<br><br>

«Сервис» Услуга, для получения которой вы оставляете заявку/заявки на Сайте.<br><br>

1.2. Все остальные термины и определения, встречающиеся в тексте Пользовательского соглашения, толкуются Сторонами в соответствии с законодательством Российской Федерации.<br><br>

2. ПРЕДМЕТ СОГЛАШЕНИЯ<br><br>

2.1. В порядке и на условиях, предусмотренных Соглашением, Компания предоставляет вам возможность использования Сайта.<br><br>

2.2. В случае, если для использования определённых сервисов Сайта установлено ограничение по возрасту, вы можете пользоваться данными сервисами только в случае, если достигли указанного возраста, о чем дадите заверение указанным на Сайте способом.<br><br>

2.3. Результаты интеллектуальной деятельности, содержащиеся на Сайте, принадлежат Компании. Вы не можете их использовать без согласия Компании (копировать и т.д.), за исключением установленных законодательством РФ случаев.<br><br>

3. ПРАВА И ОБЯЗАННОСТИ КОМПАНИИ<br><br>

3.1. Компания вправе заблокировать доступ к Сайту, если вы своими действиями или бездействиями нарушаете условия Пользовательского соглашения.<br><br>

3.2. Компания вправе производить модификацию любого программного обеспечения Сайта, приостанавливать работу Сайта при обнаружении существенных неисправностей, ошибок и сбоев, а также в целях проведения профилактических работ и предотвращения случаев несанкционированного доступа Сайту.<br><br>

3.3. Компания вправе связываться с вами по номеру телефона, предоставленного при использовании сервисов Сайта, для связи с вами для предоставления указанного сервиса и/или услуги, заказанной с использованием сервиса.<br><br>

3.4. Компания вправе связываться с Вами и направлять вам информационные сообщения по адресу электронной почты, сведения о котором будут указаны вами на Сайте.<br><br>

4. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ<br><br>

4.1. Вы должны ознакомиться с Пользовательским соглашением до момента начала пользования Сайтом.<br><br>

4.2. Вы должны предоставлять достоверную информацию при использовании Сайта и не предоставлять персональные данные третьих лиц.<br><br>

5. ПОРЯДОК ИСПОЛЬЗОВАНИЯ СЕРВИСА «КАК СДЕЛАТЬ ОПТОВЫЙ ЗАКАЗ» И ОБРАТНАЯ СВЯЗЬ<br><br>

5.1. При использовании функции Сайта «Как сделать оптовый заказ» для дальнейшего его использования необходимо заполнить соответствующую форму, где Вы указываете свое имя (обрабатывается как псевдоним), номер контактного телефона, адрес электронной почты, сведения об интересах. Далее для дальнейшего пользования Сайтом необходимо ознакомиться с «Согласием на обработку персональных данных», «Пользовательским соглашением», «Политикой конфиденциальности» и в случае согласия с «Согласием на обработку персональных данных», «Пользовательским соглашением», «Политикой конфиденциальности» подтвердить это с помощью «галочки» в специально отведенном квадрате.<br><br>

5.2. При использовании функции Сайта обратная связь и нажатии на один из номеров в мессенджере WhatsApp и/или Telegram необходимо для дальнейшего использования этой функции Сайта ознакомиться с «Согласием на обработку персональных данных», «Пользовательским соглашением», «Политикой конфиденциальности» и в случае согласия с «Согласием на обработку персональных данных», «Пользовательским соглашением», «Политикой конфиденциальности» подтвердить это с помощью «галочки» в специально отведенном квадрате.<br><br>

5.3. В случае несогласия с «Согласием на обработку персональных данных», «Пользовательским соглашением», «Политикой конфиденциальности», либо одним из них, либо условиями указанные в них, либо одним из условий, Вы обязуетесь прекратить дальнейшее использование Сайта.<br><br>

6. ОТВЕТСТВЕННОСТЬ<br><br>

6.1. Сайт или его элементы периодически могут быть частично или полностью недоступны по причине проведения профилактических или других работ технического характера, обеспечивающих нормальное функционирование Сайта.<br><br>

7. ПЕРСОНАЛЬНЫЕ ДАННЫЕ<br><br>

7.1. Вы можете пользоваться Сайтом только при условии предварительного ознакомления и согласия с настоящим Пользовательским соглашением, Политикой конфиденциальности Компании и предоставления согласия на обработку персональных данных (размещено ниже).<br><br>

8. РАЗРЕШЕНИЕ СПОРОВ И ПРИМЕНИМОЕ ПРАВО<br><br>

8.1. Соглашения и все возникающие из него правоотношения регулируются законодательством РФ. Все возникающие споры разрешаются на основании законодательства РФ.<br><br>

8.2. Вы можете направить свое сообщение по электронной почте по адресу tavakids@yandex.ru, либо в письменном виде посредством отправки по почте в адрес Компании: 429068, Россия, Чувашская Республика – Чувашия, Ядринский р-н, Нижние Сунары, ул. Луговая д. 9. Сообщение должно содержать суть предъявляемого требования, доказательства, подтверждающие требование, имя (как вы хотели бы, чтобы к вам обращались). Ответ на поступившее сообщение должен быть дан в течение 15 (пятнадцати) календарных дней с момента получения в той же форме, что и получено сообщение. Компания оставляет за собой право не отвечать на сообщения от пользователей, которые не указали идентифицирующие данные о себе, либо на аналогичное сообщение от данного пользователя уже был дан ответ.<br><br>

9. ВСТУПЛЕНИЕ СОГЛАШЕНИЯ В СИЛУ И ИЗМЕНЕНИЕ УСЛОВИЙ СОГЛАШЕНИЯ<br><br>

9.1. Текст настоящего Пользовательского соглашения содержит все существенные условия Соглашения и является предложением Компании заключить с вами настоящее Пользовательское соглашение на указанных в тексте Соглашения условиях. Таким образом, в соответствии с положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации, текст Соглашения является публичной офертой.<br><br>

9.2. В соответствии с пунктом 3 статьи 438 Гражданского кодекса Российской Федерации, надлежащим акцептом этой оферты считается последовательное осуществление любым третьим лицом следующих действий:<br><br>

9.2.1. Введение идентификационных данных Пользователя, указанных в пункте 5.1 настоящего Пользовательского соглашения.<br><br>

9.2.2. Ознакомление с условиями «Пользовательского соглашения», «Политики конфиденциальности» и подтверждения «Согласия на обработку персональных данных», путем проставления соответствующей галочки.<br><br>